@{
   Layout = "~/Views/Shared/Driver_Layout.cshtml";
}

<div id="tableBlock" class="mt-2"></div>
@section scripts
{
    <script type="text/javascript">
        $(document).ready(function () {

            CheckToken();
            GetAllOrders();

        });

        function CheckToken() {
            var nav = document.getElementsByClassName('navbar-nav');
            var token = window.localStorage.getItem('tokenKey');
            if (!token) {
                nav.html = "<li class='nav-item'><a href='http://localhost:11821'>Главная</a></li>";
                window.location.href = "http://localhost:11821";
            }
        }

        // Получение всех книг по ajax-запросу
        function GetAllOrders() {

            $.ajax({
                url: 'http://localhost:11821/api/Driver/Orders',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    WriteResponse(data);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                },
                beforeSend: function (xhr) {
                    var token = window.localStorage.getItem('tokenKey');
                    xhr.setRequestHeader("Authorization", "Bearer " + token);
                }
            });
        }

        // вывод полученных данных на экран
        function WriteResponse(orders) {
            var strResult = "<table class='table table-striped table-bordered'><thead class='thead-dark' align='center'><th>Время</th><th>Выехал из</th><th>Приехал в</th><th>Цена</th><th>Статус</th></thead>";
            $.each(orders, function (index, order) {
                var date = order.OrderDate.slice(0, 10) + " " + order.OrderDate.slice(11, 19);
                var status;
                if (order.Status == "Активный") {
                    status = "<a id='delItem' data-item='" + order.Id + "' class='btn btn-warning' onclick='TakeItem(this);' >Взять заказ</a>";
                }
                else {
                    status = order.Status;
                }
                strResult += "<tr align='center'><td>" + date + "</td><td> " + order.Address1 + "</td><td>" +
                    order.Address2 + "</td><td>" + order.Price + "</td><td>" + status + "</td></tr>";
            });
            strResult += "</table>";
            $("#tableBlock").html(strResult);

        }
        function TakeItem(el) {
            // получаем id удаляемого объекта
            var id = $(el).attr('data-item');
            TakeOrder(id);
        }
        function TakeOrder(id) {
            $.ajax({
                url: 'http://localhost:11821/api/Driver/TakeOrder?id=' + id,
                type: 'GET',
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    GetAllOrders();
                    window.location.href = "http://localhost:11821/Home/DriverOrders";
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                },
                beforeSend: function (xhr) {
                    var token = window.localStorage.getItem('tokenKey');
                    xhr.setRequestHeader("Authorization", "Bearer " + token);
                }
            });
        }
    </script>
}